@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* base setting */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background: #17161b;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

ul {
  padding-left: 0;
}

ul>li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

/* grid setting */
.header {
  grid-area: my-header;
}

.aside {
  grid-area: my-aside;
}

.main {
  grid-area: my-main;
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.grid {
  display: grid;
  grid-template-areas: 
  "my-header my-header my-header" 
  "my-aside my-main my-main" 
  "my-aside my-main my-main";
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 8rem 5.9rem;
}

.grid-init {
  max-width: 144rem;
  margin: auto;
  padding: 3rem 2.4rem 4rem 2.4rem;
}

.box-init {

}

/* header */
.header__wrap {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  padding-left: 18rem;
  box-shadow: 0 .4rem 1rem rgba(255, 255, 255, 0.07); */
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.01);
}

.header__logo {
  margin-right: 7rem;
  font-size: 6.4rem;
  line-height: 117%;
  font-weight: 700;
}

.header__nav {
  margin-right: 9.2rem;
}

.header__nav a {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 117%;
}

.header__nav a:not(:last-child) {
  margin-right: 2.5rem;
}

.header__find {
  width: 33rem;
  height: 4.1rem;
  margin-right: 3.9rem;
  border-radius: .8rem;
}

.header__find input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 4rem;
  border-radius: .8rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 117%;
  color: #fff;
  background: rgba(255, 255, 255, 0.1) url('../img/search.svg') no-repeat;
  background-position: top 50% right 1.5rem;
  background-size: 2rem;
}

.header__find input::placeholder {
  font-weight: 400;
  font-size: 2rem;
  line-height: 117%;
  color: #fff;
}

.header__date {
  text-align: center;
  margin-right: 8.6rem;
}

.header__time {
  font-weight: 400;
  font-size: 2rem;
  line-height: 117%;
}

.header__day {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 117%;
}

.header__person {
  width: 6rem;
  height: 6rem;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
}

.header__person img {
  border-radius: 50%;
  object-fit: cover;
}

/* main */
.main-display__trailer {
  position: relative;
  height: 20.2rem;
  padding: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.6rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url('../img/trailer01.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.main-display__views {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 117%;
}

.main-display__header {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 117%;
  margin-bottom: 5px;
}

.main-display__date {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 117%;
}

.button-play__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8.1rem;
  height: 8.1rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(1.6rem);
}

.button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
}

.button-play img {
  margin-left: .2rem;
  margin-top: .2rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 0;
}

.title__left, .title__right {
  display: flex;
  align-items: center;
}

.title__main,
.title__count {
  font-weight: 400;
  font-size: 2rem;
  line-height: 117%;
}

.title__main {
  margin-right: 2rem;
}

.title__count {
  color: rgba(255, 255, 255, 0.2);
}

.title__right span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 117%;
  color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5rem;
}

.title__right img {
  width: .9rem;
}

.trending__wrap {
  display: flex;
  justify-content: space-between;
}

.trending__frame,
.trending__frame-popular {
  position: relative;
  border-radius: 1.6rem;
  display: flex;
  align-items: flex-end;
}
.trending__frame {
  width: 45%;
  height: 25.1rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/trending01.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.trending__frame-popular {
  width: 30%;
  height: 19.2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/trending02.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.trending__splash {
  position: absolute;
  top: 1.9rem;
  left: 1.9rem;
  padding: 0.5rem 1.3rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 117%;
  border-radius: 1.6rem;
  background: rgba(255, 255, 255, 0.3);
}

.trending__footer {
  position: relative;
  width: 100%;
  height: 6.8rem;
  padding: 1.9rem 1.9rem 1.9rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.6rem);
  border-radius: 1.6rem;
}

.button-play__wrap.small {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.button-play__wrap.small .button-play img {
  width: 1.1rem;
}

.trending__header {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 117%;
  margin-bottom: 0.2rem;
}

.trending__date {
  font-weight: 700;
  font-size: 1rem;
  line-height: 117%;
}

.trending__time {
  padding: 0.5rem 1.2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 117%;
  color: #000;
  background: #FFFFFF;
  border-radius: 1.6rem;
}

.trending__frame-popular .trending__footer {
  height: 3.8rem;
  padding-left: 5rem;
}

.trending__frame-popular .trending__header {
  font-weight: 700;
  font-size: 1rem;
  line-height: 117%;
}

.trending__frame-popular .trending__date {
  font-weight: 700;
  font-size: .8rem;
  line-height: 117%;
}

.trending__rating {
  display: flex;
  align-items: center;
}

.trending__frame-popular .button-play__wrap.small {
  width: 1.8rem;
  height: 1.8rem;
}

.trending__frame-popular .button-play__wrap.small .button-play img {
  width: .66rem;
}

.trending__rating img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
}

.trending__rating span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 117%;
}